
# output files
output_images/
python_server/output/
*.log
*.out
*.err
*.pid
*.pid.lock
*.sock
*.swp


# js files
node_modules/
.env
*.log

# webpack files
src/*
src/index.js

# python files
python_server/workflows/
python_server/venv/
python_server/_backupFiles/
python_server/__pycache__/
*.pyc
*.pyo
.DS_Store
.env


